<ion-content class="ion-padding">
  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>

  <form>
    <app-input label="Full Name"></app-input>
    <app-input label="Email ID"></app-input>
    <app-input label="Password" type="password"></app-input>

    <app-button label="Register"></app-button>
  </form>

  <p class="social"><span>or you can use</span></p>

  <app-icon-button
    icon="logo-facebook"
    label="Connect with Facebook"
    color="#123681"
    background="#ebeef4"
  ></app-icon-button>

  <app-icon-button
    icon="logo-google"
    label="Connect with Google"
    color="#de5246"
    background="#f0dcda"
  ></app-icon-button>

  <p class="footer-text">
    I'm already a member, <a routerLink="/login">Sign In</a>
  </p>
</ion-content>
